/*#clubName {*/
/*  margin-top: 20px;*/
/*}*/
.form-label {
  font-family: 'Poppins', 'Helvetica', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.input-field {
  min-width: 350px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: -15px;
}

#addNewClubForm {
  margin-top: 20px;
  /*padding: 20px;*/
  /*border: 3px solid black;*/
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

#dayInput {
  max-width:70px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: -5px;
}

#monthInput {
  max-width:70px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: -5px;
}

#yearInput {
  max-width: 160px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: -5px;
}

#btnAddClub {
  min-width: 360px;
}

#btnDeleteClub {
  min-width: 360px;
}

#txtExistingClub {
  margin-top: 15px;
}
