/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-heading {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 23px;
  font-weight: bold;
}

.dialog-content {
  font-size: 15px;
}
