.

.container {
  margin-top: 40px;
  padding-bottom: 40px;
}

table{
  width: 100%;
  border: 2px solid black;
}

.sort-button {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 20px 5px;
}

.heading {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
