.container {
  margin-top: 20px;
  padding-bottom: 40px;
}

table{
  width: 100%;
  border: 2px solid black;
}

.sort-button {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 20px 5px;
}

.heading {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.button-group {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
}
