.container {
  margin-top: 40px;
  padding-bottom: 40px;
}

table{
  width: 100%;
}

/*.mat-column {*/
/*  word-wrap: break-word !important;*/
/*  white-space: unset !important;*/
/*  overflow-wrap: break-word;*/
/*  word-wrap: break-word;*/

/*  word-break: break-word;*/

/*  -ms-hyphens: auto;*/
/*  -moz-hyphens: auto;*/
/*  -webkit-hyphens: auto;*/
/*  hyphens: auto;*/
/*}*/

/*.mat-col-pos {*/
/*  flex: 0 0 5% !important;*/
/*  width: 5% !important;*/
/*}*/

/*.mat-col-club-name {*/
/*  flex: 0 0 25% !important;*/
/*  width: 25% !important;*/
/*}*/

/*.mat-col-played {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-wins {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-draws {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-losses {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-gs {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-gr {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-gd {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/

/*.mat-col-points {*/
/*  flex: 0 0 10% !important;*/
/*  width: 10% !important;*/
/*}*/
