<div class="row justify-content-center">
  <div class="page-heading" id="pageHeading">Matches Played</div>
</div>

<div class="container">
  <div class="row justify-content-center">

    <div class="card" id="addMatchCard">
      <div class="col">
        <form [formGroup]="addMatchForm" id="addMatchForm">

          <div class="row justify-content-center">
            <div class="form-heading">Date Played</div>
          </div>

          <div class="row justify-content-center">
            <!-- Date Played -->
            <div class="form-group row justify-content-center">
              <div class="row">

                <div class="col-sm-3">
                  <mat-form-field id="dayInput" appearance="outline">
                    <mat-label>DD</mat-label>
                    <input matInput formControlName="dayPlayed">
                    <mat-error *ngIf="dayPlayed.invalid">Day is invalid!</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field id="monthInput" appearance="outline">
                    <mat-label>MM</mat-label>
                    <input matInput formControlName="monthPlayed">
                    <mat-error *ngIf="monthPlayed.invalid">Month is invalid!</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field id="yearInput" appearance="outline">
                    <mat-label>YYYY</mat-label>
                    <input matInput formControlName="yearPlayed">
                    <mat-error *ngIf="yearPlayed.invalid">Year is invalid!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>

          <div class="row justify-content-center">
            <div class="form-heading">Team 1</div>
          </div>

          <!-- Team 1  -->
          <div class="form-group row justify-content-center">
            <mat-form-field appearance="outline" >
              <mat-label>Select Team 1</mat-label>
              <mat-select formControlName="team1Name" [disabled]="clubsList == undefined || clubsList.length == 0 || clubsList.length == 1">
                <mat-option *ngFor="let club of getClubs();" value="{{ club.clubName }}">{{ club.clubName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="team1Name.invalid">Select a team!</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field score-input" appearance="outline">
              <mat-label>Score</mat-label>
              <input matInput formControlName="team1Score">
              <mat-error *ngIf="team1Score.invalid">Score is invalid!</mat-error>
            </mat-form-field>
          </div>

          <div class="row justify-content-center">
            <div class="form-heading">Team 2</div>
          </div>

          <!-- Team 2  -->
          <div class="form-group row justify-content-center">
            <mat-form-field appearance="outline">
              <mat-label>Select Team 2</mat-label>
              <mat-select formControlName="team2Name" [disabled]="clubsList == undefined || clubsList.length == 0 || clubsList.length == 1">
                <mat-option *ngFor="let club of getClubs();" value="{{ club.clubName }}">{{ club.clubName }}</mat-option>
              </mat-select>
              <mat-error *ngIf="team2Name.invalid">Select a team!</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field score-input" appearance="outline">
              <mat-label>Score</mat-label>
              <input matInput formControlName="team2Score">
              <mat-error *ngIf="team2Score.invalid">Score is invalid!</mat-error>
            </mat-form-field>
          </div>

          <div class="form-group row justify-content-center">
            <button class="btn btn-dark" id="btnAddMatch" [disabled]="addMatchForm.invalid" (click)="addMatch();">Add Match</button>
          </div>

        </form>
        <div class="form-group row justify-content-center">
          <button class="btn btn btn-outline-warning secondary-button" id="btnAddRandomMatch" [disabled]="clubsList == undefined || clubsList.length == 0 || clubsList.length == 1" (click)="addRandomMatch(); this.addMatchForm.reset();">
            Add Random Match
          </button>
        </div>

      </div>
    </div>


    <div class="col">
      <div class="card">
        <div class="row justify-content-center heading">
          Search table by Date Played:
        </div>

        <form [formGroup]="filterMatchForm" id="filterMatchForm">
          <div class="row justify-content-center">
            <!-- Date Founded -->
            <div class="form-group row justify-content-center">
              <div class="row">

                <div class="col-sm-3">
                  <mat-form-field appearance="outline" id="dayInputFilter">
                    <mat-label>DD</mat-label>
                    <input matInput formControlName="dayPlayed">
                    <mat-error *ngIf="dayPlayed.invalid">Invalid!</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-3">
                  <mat-form-field appearance="outline" id="monthInputFilter">
                    <mat-label>MM</mat-label>
                    <input matInput formControlName="monthPlayed">
                    <mat-error *ngIf="monthPlayed.invalid">Invalid!</mat-error>
                  </mat-form-field>
                </div>

                <div class="col-sm-6">
                  <mat-form-field appearance="outline" id="yearInputFilter">
                    <mat-label>YYYY</mat-label>
                    <input matInput formControlName="yearPlayed">
                    <mat-error *ngIf="yearPlayed.invalid">Invalid!</mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>
          <div class="row justify-content-center">
            <button type="button" class="btn btn-outline-warning secondary-button" id="btnResetTable" (click)="showAllMatches()">Show All Matches</button>
            <button type="button" class="btn btn-dark" id="btnSearchTable" [disabled]="filterMatchForm.invalid" (click)="filterMatches()">Search Table</button>
          </div>

        </form>
      </div>


      <div class="card" id="tableCard">
        <div class="row justify-content-center">
          <div class="heading">Sort table by:</div>
          <mat-button-toggle-group class="button-group">
            <mat-button-toggle (click)="sortTableByDatesAscending()">Date Played (Ascending)</mat-button-toggle>
            <mat-button-toggle (click)="sortTableByDatesDescending()">Date Played (Descending)</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Date Played</th>
              <th scope="col">Team 1</th>
              <th scope="col">Score</th>
              <th scope="col">Team 2</th>
              <th scope="col">Score</th>
            </tr>
            </thead>
            <tbody  *ngIf="this.matchesList">
            <tr *ngFor="let match of getMatches();">
              <td>{{ match.datePlayed.year + '/' + match.datePlayed.month + '/' + match.datePlayed.day}}</td>
              <td>{{ match.team1.clubName }}</td>
              <td>{{ match.team1Score }}</td>
              <td>{{ match.team2.clubName }}</td>
              <td>{{ match.team2Score }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>
